
<div class="container">

    <h2 id="prodUpdate">Update Product</h2>

    <form method="POST" action="/product/update/{{_id}}?method=PUT" enctype="multipart/form-data">

    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 text-center">
            <label for="title">Title</label>
            <input type="text" name="prodTitle" class="form-control text-center" id="prodTitle" value="{{prodTitle}}">
        </div>        
    </div>

    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 text-center">
            <label for="price">Price</label>
            <input type ="text"  name="price" class="form-control text-center" value = {{price}}>
        </div>        
    </div>

    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 text-center">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" name="description">{{description}}</textarea>
        </div>
    </div>        

    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 text-center">
            <label for="category">Category</label>
            <input type = "text"  name="category" class="form-control text-center" value ={{category}}>
        </div>
    </div>    

    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 text-center">
            <label>Quantity</label>
            <input type ="text" id="quantity" class="form-control text-center" name="quantity" value = {{quantity}}>
        </div>
    </div>

    <div class="form-row justify-content-center">
        <div class="form-group col-md-3 text-center">
            <label>BestSeller</label>
            <input type = "text"  class="form-control text-center" name="bestSeller" value = {{bestseller}}>
        </div>
    </div> 

    <div class="form-row justify-content-center">
        <div class="col-auto my-1 text-center">
            <label class="mr-sm-2" for="status">Status</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="open">Open</option>
                <option value="hold">On Hold</option>
                <option value="completed">Completed</option>
            </select>
        </div>
    </div>

    <div class="text-center">
            <button class="btn btn-primary btn-sm" type="submit">Update Product</button>
    </div>
        
   </form>
</div>

    