
<div class="container">

    <h2 class="text-center">Product Inventories</h2>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>BestSeller</th>
                <th>Operation</th>                           
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>
                        <span name="product-title" class="product-title">{{this.prodTitle}}</span>
                    </td>
                    <td>
                        <span name="price">{{this.price}}</span>                        
                    </td>
                    <td>
                        <span name="description">{{this.description}}</span>
                    </td>
                    <td>
                        <span name="category">{{this.category}}</span>
                    </td>
                    <td>
                        <span name="quantity">{{this.quantity}}</span>
                    </td>
                    <td>
                        <span name="bestSeller">{{this.bestSeller}}</span>
                    </td>
                    <td>
                        <a href="/product/edit/{{this.id}}" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">Edit</a>
                        <a href="/product/delete/{{this.id}}?method=DELETE" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Delete</a>
                    </td> 
                </tr>

                {{else}}
                    <td colspan="7">
                        <p>No products in the database</p>
                    </td>
                {{/each}}
            </tbody>
        </table>
    </div>

    
    
    <div class="text-center">
        <a href="/product/add" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Add a Product</a>
    </div>

</div>
