

<div class="container-fluid mx-0 px-0" id="productDetailsClass">
    <div class="row justify-content-around mx-0">
            
            <div class="col-md-6" id ="Product">
                 <img class="img-fluid py-3" src="/uploads/{{productPic}}">
             </div>
       
            <div class="col-md-6 justify-content-center">
                    <p class="text-center py-3 my-0">
                    {{prodTitle}}
                    </p>
                    <p class="text-center">
                        Description : {{this.description}}
                    </p>
                    <p class="text-center">
                        Price : {{this.price}}
                    </p>
                    <p class="text-center">
                        Quantity Available : {{this.quantity}}
                    </p> <br> <br>
                    <p>
                        <form method="POST" action="/product/productDetails/{{this._id}}">
                           <input type="submit" value="Add to Cart"> 
                        </form>
                        {{!-- <a href="/product/shoppingCart/{{this._id}}" class="text-center" >
                        
                        </a> --}}
                    </p> 
            </div>                
                                     
    </div>
</div>