

<h2 id="shoppingCart">Shopping Cart</h2>

<section class="product-container">
       
    <table border="1" style="text-align: center;">
        <thead>
                <th></th>
                <th>Title</th>
                <th>Price</th>
                <th>Qty Purchased</th>
                <th>Total</th>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>
                        <img class="img-fluid py-3" name="productPic" src="/uploads/{{this.productPic}}">
                    </td>
                   <td>
                        <a href="" class="product-title" name="prodTitle">{{this.prodTitle}}</a>
                   </td>
                   <td>
                       <span name="price">{{this.price}}</span>
                      
                   </td>
                   <td>
                       <span name="qtyPurchased">{{this.qtyPurchased}}</span>
                      
                   </td>
                   <td>
                       <span name="total">{{this.total}}</span>
                   </td>
                </tr>
            
            {{/each}}        
    </tbody>
    </table>
    <div>
        <span name="orderTotal">Order Total = {{sumTotal data}}</span>
    </div>
    
    <div id="product-links-holder">
        <a href="/product/display" class="addProduct">Add Product</a>
    </div>

</section>

       <div>
           <a href="/product/placeOrder"><button>Place your order</button></a>
       </div>
  
    